<div class="components">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l3">
                <app-records-and-events-menu></app-records-and-events-menu>
            </div>
            <div class="col s12 m8 offset-l2 l5 offset-xl2 xl4">
                <h3 class="center formTitle">Creación de Suceso</h3>

                <form #Form="ngForm" (ngSubmit)="create(Form)">

                    <!-- Name -->
                    <div class="input-field">
                        <input [(ngModel)]="events.name" id="name" name="name" type="text" class="validate">
                        <label for="name">Nombre:</label>
                    </div>

                    <!-- Condition -->
                    <input [(ngModel)]="events.condition" id="condition" name="condition" type="hidden">

                    <!-- Área Botones -->
                    <div class="row">
                        <div class="col s6">
                            <button class="btn waves-effect waves-light right" type="submit">Guardar
                                <i class="material-icons right">save</i>
                            </button>
                        </div>
                        <div class="col s6">
                            <button (click)="clearData(Form)" class="btn waves-effect waves-light left clearData" type="button">Cancelar
                                <i class="material-icons right">clear</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>