<nav class="Nav">

    <h6 class="Nav__titleMenu">Menu de ARL</h6>

    <ul class="Nav__list">
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/arl/create">Creación de ARL</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/arl/update">Edición de ARL</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/arl/activateDesactivate">Act/Desact de ARL</a></li>
        <a routerLink="/main" class="btn waves-effect waves-light" type="button">Regresar
            <i class="material-icons left">arrow_back</i>
        </a>
    </ul>
</nav>