<nav class="Nav">

    <h6 class="Nav__titleMenu">Menu de Empleados y Cargos</h6>

    <ul class="Nav__list">
        <li class="Nav__list__itemTitle">Administración de Empleados</li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/employes/create">Creación de Empleados</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/employes/update">Edición de Empleados</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/employes/activateDesactivate">Act/Desact de Empleados</a></li>
        <li class="Nav__list__itemTitle">Administración de Cargos</li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/positions/create">Creación de Cargos</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/positions/update">Edición de Cargos</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/positions/activateDesactivate">Act/Desact de Cargos</a></li>
        <a routerLink="/main" class="btn waves-effect waves-light" type="button">Regresar
            <i class="material-icons left">arrow_back</i>
        </a>
    </ul>
</nav>