<div class="container reportScreen w-100 text-center">
  <h5 class="text-center">Reporte de Positions</h5>

  <main class="reportScreen__contain">

    <table class="striped reportTable">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Condición</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let position of positions">
            <td style="text-align: center;">{{position.name}}</td>
            <td style="text-align: center;">{{position.desciption}}</td>
            <span *ngIf="position.condition; then active; else inactive"></span>
        </tr>
      </tbody>
    </table>



  </main>

<a routerLink="/reports" class="backbutton btn waves-effect waves-light" type="button">Regresar
  <i class="material-icons left">arrow_back</i>
</a>
</div>


<!-- Templates -->
<ng-template #active>
  <td style="text-align: center;"><span class="green darken-4 white-text" style="padding-left:0.5rem; padding-right:0.5rem;">Activo</span></td>
</ng-template>
<ng-template #inactive>
  <td style="text-align: center;"><span class="red accent-4 white-text text-center" style="padding-left:0.5rem; padding-right:0.5rem;">Inactivo</span></td>
</ng-template>
