@import './variables';

.formTitle {
    color: $main__color;
    text-align: center;
    margin: .5rem auto;
    white-space: nowrap;
}


#toast-container {
    top: auto;
    bottom: 10vh !important;
    left: 30% !important;
    width: 360px !important;
    overflow: hidden !important;
}

.inactivate {
    background-color: $color__inactive;
}

.input-field {
    input {
        padding-left: 1rem !important;
        width: 90%;
    }

    textarea {
        width: 100%;
    }
}

.inputfieldSelect {
    select {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 30px;
        padding: 5px;

        &:focus {
            outline: none;
        }
    }

    select:first-child {
        opacity: 0.5;
    }
}

.labelSelect {
    transform: translateY(-22px) scale(0.8) !important;
    color: $main__color !important;
}

.errorSearch {
    font-size: 0.9rem;
    color: red;
    position: absolute;
    display: block;
    transform: translateY(-1.3rem) !important;
}


@media (max-width: 600px) {
    .formTitle {
        margin-top: 2rem;
    }

    #toast-container {
        left: 0 !important;
    }
}