@import './variables';

.Nav {
    background-color: white;
    color: $main__color;
    height: auto;
    border: 1px solid $main__color;
    padding: 1rem;

    &__titleMenu {
        background-color: $main__color;
        margin: -1rem -1rem 1rem -1rem;
        color: white;
        line-height: 2.5rem;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-direction: column;

        &__itemTitle {
            color: black;
            margin-top: 1rem;
            margin-bottom: 0;
            line-height: 1.5rem;
        }

        &__item {
            &__link {
                line-height: 2rem;
                color: $main__color;
                display: block;

                &:hover {
                    background-color: $main__color;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }

    .btn {
        margin-top: 1rem;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;

        i {
            line-height: 2.5rem;
        }
    }
}

@media (max-width: 600px) {
    .Nav {
        &__list {
            &__item {
                &__link {
                    text-align: center;
                }
            }
        }
    }
}