<div class="components userForms">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l3">
                <app-employees-and-positions-menu></app-employees-and-positions-menu>
            </div>
            <div class="col s12 m8 l9">
                <h3 class="center formTitle">Creación de Empleados</h3>
                <form #employeeForm="ngForm" (ngSubmit)="createEmployee(employeeForm)">
                    <div class="row">


                        <div class="col s12 xl6">
                            <!-- Columna 1 -->

                            <!-- Tipo de Identificación -->
                            <div class="input-field inputfieldSelect">
                                <select class="browser-default" [(ngModel)]="employee.identificationType" id="identificationType" name="identificationType">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="Cédula de Ciudadanía">Cédula de Ciudadanía</option>
                                    <option value="Cédula de Extranjería">Cédula de Extranjería</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                                </select>
                                <label class="labelSelect" for="identificationType">Tipo de Identificación</label>
                            </div>

                            <!-- Número de Identificaión -->
                            <div class="input-field">
                                <input [(ngModel)]="employee.identificationNumber" id="identificationNumber" name="identificationNumber" type="text" class="validate">
                                <label for="identificationNumber">Número de Identificación:</label>
                            </div>

                            <!-- Nombres -->
                            <div class="input-field">
                                <input [(ngModel)]="employee.names" id="names" name="names" type="text" class="validate">
                                <label for="names">Nombres:</label>
                            </div>

                            <!-- Apellidos -->
                            <div class="input-field">
                                <input [(ngModel)]="employee.lastNames" id="lastNames" name="lastNames" type="text" class="validate">
                                <label for="lastNames">Apellidos:</label>
                            </div>

                            <!-- Departamento -->
                            <div class="input-field inputfieldSelect">
                                <select class="browser-default" [(ngModel)]="employee.department" id="department" name="department">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option *ngFor="let department of departments" value="{{ department._id }}">{{ department.name }}</option>
                                </select>
                                <label class="active labelSelect" for="department">Departamento</label>
                            </div>

                            <!-- Municipio -->
                            <div class="input-field inputfieldSelect">
                                <select class="browser-default" [(ngModel)]="employee.municipality" id="municipality" name="municipality">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option *ngFor="let municipality of municipalities" value="{{ municipality._id }}">{{ municipality.nombre }}</option>
                                </select>
                                <label class="active labelSelect" for="municipality">Municipio</label>
                            </div>

                            <!-- Dirección -->
                            <div class="input-field">
                                <input [(ngModel)]="employee.address" id="address" name="address" type="text" class="validate">
                                <label for="address">Dirección:</label>
                            </div>

                            <!-- Teléfono -->
                            <div class="input-field">
                                <input [(ngModel)]="employee.phone" id="phone" name="phone" type="text" class="validate">
                                <label for="phone">Teléfono:</label>
                            </div>

                            <!-- Celular -->
                            <div class="input-field">
                                <input [(ngModel)]="employee.mobile" id="mobile" name="mobile" type="text" class="validate">
                                <label for="mobile">Celular:</label>
                            </div>

                            <!-- Correo Electrónico -->
                            <div class="input-field">
                                <input [(ngModel)]="employee.email" id="email" name="email" type="email" class="validate">
                                <label for="email">Correo Electrónico:</label>
                            </div>


                        </div> <!-- Fin Columna 1 -->

                        <div class="col s12 xl6">
                            <!-- Columna 2 -->

                            <!-- Compañía -->
                            <div class="input-field inputfieldSelect">
                                <select class="browser-default" [(ngModel)]="employee.company" id="company" name="company">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <label class="labelSelect" for="company">Compañía</label>
                            </div>

                            <!-- Sede -->
                            <div class="input-field inputfieldSelect">
                                <select class="browser-default" [(ngModel)]="employee.venues" id="venues" name="venues">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <label class="labelSelect" for="venues">Sede</label>
                            </div>

                            <!-- Cargo -->
                            <div class="input-field inputfieldSelect">
                                <select class="browser-default" [(ngModel)]="employee.position" id="position" name="position">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <label class="labelSelect" for="position">Cargo</label>
                            </div>

                            <!-- EPS -->
                            <div class="input-field inputfieldSelect">
                                <select class="browser-default" [(ngModel)]="employee.eps" id="eps" name="eps">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <label class="labelSelect" for="eps">EPS</label>
                            </div>

                            <!-- ARL -->
                            <div class="input-field inputfieldSelect">
                                <select class="browser-default" [(ngModel)]="employee.arl" id="arl" name="arl">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <label class="labelSelect" for="arl">ARL</label>
                            </div>

                            <h5>Contacto de Emergencia</h5>
                            <!-- Nombre contacto de Emergencia -->
                            <div class="input-field">
                                <input [(ngModel)]="employee.emergencyContactName" id="emergencyContactName" name="emergencyContactName" type="text" class="validate">
                                <label for="emergencyContactName">Nombre:</label>
                            </div>

                            <!-- Teléfono contacto de Emergencia -->
                            <div class="input-field">
                                <input [(ngModel)]="employee.emergencyContactPhone" id="emergencyContactPhone" name="emergencyContactPhone" type="text" class="validate">
                                <label for="emergencyContactPhone">Teléfono:</label>
                            </div>

                            <!-- Parentesco contacto de Emergencia -->
                            <div class="input-field">
                                <input [(ngModel)]="employee.emergencyContactRelationship" id="emergencyContactRelationship" name="emergencyContactRelationship" type="text" class="validate">
                                <label for="emergencyContactRelationship">Parentesco:</label>
                            </div>

                            <!-- Comentarios -->
                            <div class="input-field">
                                <textarea [(ngModel)]="employee.coments" id="coments" name="coments" class="materialize-textarea"></textarea>
                                <label for="coments">Comentarios</label>
                            </div>

                        </div> <!-- Fin Columna 2 -->


                        <!-- Área de botones -->
                        <div class="col s12">
                            <div class="row">
                                <div class="col s6">
                                    <button class="btn waves-effect waves-light right" type="submit">Guardar
                                        <i class="material-icons right">save</i>
                                    </button>
                                </div>
                                <div class="col s6">
                                    <button (click)="clearData(employeeForm)" class="btn waves-effect waves-light left clearData" type="button">Cancelar
                                        <i class="material-icons right">clear</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Área de Botones -->

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>