<div class="container reportScreen w-100 text-center">
  <h5 class="text-center">Reporte de Usuarios</h5>

  <main class="reportScreen__contain">

    <table class="striped reportTable">
      <thead>
        <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Superadministrador</th>
            <th>Administrador</th>
            <th>Analista</th>
            <th>Asistente</th>
            <th>Consultas</th>
            <th>Condición</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.user}}</td>
            <td>{{user.name}}</td>
            <td>{{user.superuser}}</td>
            <td>{{user.admin}}</td>
            <td>{{user.analyst}}</td>
            <td>{{user.assistant}}</td>
            <td>{{user.consultant}}</td>
            <td *ngIf="user.consultant; then active; else inactive"></td>
        </tr>
      </tbody>
    </table>



  </main>

<a routerLink="/reports" class="backbutton btn waves-effect waves-light" type="button">Regresar
  <i class="material-icons left">arrow_back</i>
</a>
</div>


<!-- Templates -->
<ng-template #active>
  <p class="teal white-text" style="display: inline-block;padding-left:0.5rem; padding-right:0.5rem;">Activo</p>
</ng-template>
<ng-template #inactive>
  <p class="red darken-4 white-text" style="display: inline-block;padding-left:0.5rem; padding-right:0.5rem;">Inactivo</p>
</ng-template>
