<nav class="Nav">

    <h6 class="Nav__titleMenu">Menu de EPS</h6>

    <ul class="Nav__list">
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/eps/create">Creación de EPS</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/eps/update">Edición de EPS</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/eps/activateDesactivate">Act/Desact de EPS</a></li>
        <a routerLink="/main" class="btn waves-effect waves-light" type="button">Regresar
            <i class="material-icons left">arrow_back</i>
        </a>
    </ul>
</nav>