<div class="components userForms">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l3">
                <app-users-menu></app-users-menu>
            </div>
            <div class="col s12 m8 offset-l2 l5 offset-xl2 xl4">
                <h3 class="center formTitle">Contraseña de Usuarios</h3>

                <!-- Formulario de búsqueda -->
                <form *ngIf="showSearchForm" #SearchForm="ngForm" (submit)="search()">
                    <div class="input-field">
                        <input [(ngModel)]="searchItem.user" id="searchItem" name="searchItem" type="text" class="validate">
                        <label for="searchItem">Usuario:</label>
                    </div>
                    <span class="errorSearch" *ngIf="searchValidate">Usuario no encontrado</span>
                    <button class="btn waves-effect waves-light right" type="submit">Buscar
                        <i class="material-icons right">search</i>
                    </button>
                </form>


                <!-- Formulatio de actualización -->
                <form *ngIf="showForm" #Form="ngForm" (ngSubmit)="passwordUpdate(Form)">

                    <!-- ID de usuario -->
                    <input [(ngModel)]="user._id" id="_id" name="_id" type="hidden">

                    <!-- User -->
                    <div class="input-field">
                        <input [(ngModel)]="user.user" id="user" name="user" type="text" class="validate" disabled>
                        <label for="user" class="active">Usuario:</label>
                    </div>

                    <!-- User Name -->
                    <div class="input-field">
                        <input [(ngModel)]="user.name" id="name" name="name" type="text" class="validate">
                        <label for="name" class="active">Nombre:</label>
                    </div>

                    <!-- User Password -->
                    <div class="input-field">
                        <input [(ngModel)]="user.password" id="password" name="password" type="password" class="validate">
                        <label for="password" class="active">Nueva contraseña:</label>
                    </div>



                    <!-- Área de botoner -->
                    <div class="row">
                        <div class="col s6">
                            <button class="btn waves-effect waves-light right" type="submit">Guardar
                                <i class="material-icons right">save</i>
                            </button>
                        </div>
                        <div class="col s6">
                            <button (click)="clearData(Form)" class="btn waves-effect waves-light left cleanerButtom" type="button">Cancelar
                                <i class="material-icons right">clear</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>