@import '../../scss/variables';

.Nav {
    margin-top: .5rem;
    margin-bottom: 0;
    background-color: $main__color;

    #nav-mobile {
        li {
            a {
                font-size: 0.7rem;
            }
        }
    }

}

.dropdown-content {
    width: auto;

    li {
        a {
            color: $main__color;

            &:hover {
                background-color: $main__color;
                color: white;
            }
        }
    }
}

@media (max-width: 600px) {
    .Nav {
        height: auto;
        width: 95%;
        max-width: 300px;
    }

    #nav-mobile {
        display: flex;
        flex-direction: column;

        li {
            margin-top: 0;
            margin-bottom: 0;
            padding: 0 inherit;
        }
    }

    .dropdown-content {
        position: static;
        z-index: 999;
        height: auto;
        width: auto;
    }
}