<nav class="Nav">

    <h6 class="Nav__titleMenu">Menu Pricipal</h6>

    <ul class="Nav__list">
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/users">Usuarios</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/employesAndPositions">Empleados y Cargos</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/companies">Compañías</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/venues">Sedes</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/eps">EPS</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/arl">ARL</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/recordsAndEvents">Administración de incidentes</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link">Reportes</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/passwordChange">Cambiar Contraseña</a></li>
        <button (click)="logOut()" class="btn waves-effect waves-light" type="button">Cerrar Sesión
            <i class="material-icons right">exit_to_app</i>
        </button>
    </ul>

</nav>