<nav class="Nav">
    <div class="nav-wrapper container">
        <ul id="nav-mobile">
            <li *ngIf="userData.superuser == true"><a class="dropdown-trigger" data-target="usersMenu">Usuarios<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" data-target="employeesMenu">Empleados y Cargos<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" data-target="companiesMenu">Compañías<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" data-target="venuesMenu">Sedes<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" data-target="epssMenu">EPS<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" data-target="arlsMenu">ARL<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" data-target="recordsMenu">Administración de Incidentes<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" data-target="reportsMenu">Reportes<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a>Cambiar Contraseña</a></li>
            <li><a routerLink='/' (click)="logOut()">Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>

<!-- Menu Usuarios -->
<ul id="usersMenu" class="dropdown-content">
    <li><a>Creación de Usuarios</a></li>
    <li><a>Edición de Usuarios</a></li>
    <li><a>Contraseña de Usuarios</a></li>
    <li><a>Act/Desact. de Usuarios</a></li>
</ul>

<!-- Menu Empleados y Cargos -->
<ul id="employeesMenu" class="dropdown-content">
    <li><a>Creación de Empleados</a></li>
    <li><a>Edición de Empleados</a></li>
    <li><a>Act/Desact. de Empleados</a></li>
    <li><a>Creación de Cargos</a></li>
    <li><a>Edición de Cargos</a></li>
    <li><a>Act/Desact. de Cargos</a></li>
</ul>

<!-- Menu Compañías -->
<ul id="companiesMenu" class="dropdown-content">
    <li><a>Creación de Compañías</a></li>
    <li><a>Edición de Compañías</a></li>
    <li><a>Act/Desact. de Compañías</a></li>
</ul>

<!-- Menu Sedes -->
<ul id="venuesMenu" class="dropdown-content">
    <li><a>Creación de Sedes</a></li>
    <li><a>Edición de Sedes</a></li>
    <li><a>Act/Desact. de Sedes</a></li>
</ul>

<!-- Menu EPS -->
<ul id="epssMenu" class="dropdown-content">
    <li><a>Creación de EPS</a></li>
    <li><a>Edición de EPS</a></li>
    <li><a>Act/Desact. de EPS</a></li>
</ul>

<!-- Menu ARL -->
<ul id="arlsMenu" class="dropdown-content">
    <li><a>Creación de ARL</a></li>
    <li><a>Edición de ARL</a></li>
    <li><a>Act/Desact. de ARL</a></li>
</ul>

<!-- Menu Incidentes y Sucesos -->
<ul id="recordsMenu" class="dropdown-content">
    <li><a>Creación de Registros</a></li>
    <li><a>Edición de Registros</a></li>
    <li><a>Anulación de Registros</a></li>
    <li><a>Creación de Sucesos</a></li>
    <li><a>Edición de Sucesos</a></li>
    <li><a>Act/Desact. de Sucesos</a></li>
</ul>

<!-- Menu de Reportes -->
<ul id="reportsMenu" class="dropdown-content">
    <li><a>Usuarios</a></li>
    <li><a>Empleados</a></li>
    <li><a>Cargos</a></li>
    <li><a>Compañías</a></li>
    <li><a>Sedes</a></li>
    <li><a>EPS</a></li>
    <li><a>ARL</a></li>
    <li><a>Incidentes</a></li>
    <li><a>Sucesos</a></li>
</ul>