<header class="nav-wrapper teal lighten-1 header_login">
    <h6 class="center">SICOAIN - Sistema de Control de Accidentes e Incidentes</h6>
</header>
<div class="container login">
    <div class="row">

        <div class="col s12 l4 login__image">
            <img src="./../../../assets/images/logo.png" alt="Logo" class="login__logo hide-on-med-and-down">
        </div>

        <div class="login__area col s12 l8">
            <div class="login__area__box hoverable center">
                <div class="login__area__box__header">
                    <h6 class="center">Ingrese su usuario</h6>
                </div>
                <div class="login__area__box__formArea">
                    <!-- <form #loginForm="ngForm" (ngSubmit)="validateLogin(loginForm)" class="login__area__box__formArea__form"> -->
                    <form (submit)="login()" class="login__area__box__formArea__form">
                        <div class="row">
                            <div class="login__area__box__formArea__form__input input-field col s12">
                                <input [(ngModel)]="userLogin.user" placeholder="Usuario" id="user" name="user" type="text" class="validate">
                            </div>
                            <div class="login__area__box__formArea__form__input input-field col s12">
                                <input [(ngModel)]="userLogin.password" placeholder="Contraseña" id="password" name=password type="password" class="validate">
                            </div>
                            <button class="login__area__box__formArea__form__button btn waves-effect waves-light center" type="submit" name="login">Acceder
                                <i class="material-icons right">send</i>
                            </button>
                            <button (click)="clearData()" class="login__area__box__formArea__form__button btn waves-effect center" type="button" name="login">Limpiar
                                <i class="material-icons right">clear</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>