.header_login {
    margin: 0;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    padding: 1.5rem 0;
    display: none;
}

h6 {
    margin: 0;
    line-height: 1rem;
    color: white;
}

.login {
    margin-top: 20vh;

    &__image {
        img {
            width: 100%;
        }
    }

    &__area {

        &__box {
            border: 1px solid #26a69a;
            padding: 2rem;
            margin: 0 auto;
            max-width: 450px;
            position: relative;

            &__header {
                background-color: #26a69a;
                margin: -2rem -2rem 1rem -2rem;

                h6 {
                    margin: 0;
                    line-height: 2rem;
                    color: white;
                }
            }

            &__formArea {
                margin-top: 2rem;

                &__form {
                    text-align: center;

                    &__input {
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }

                    #errorLogin {
                        color: red;
                        font-weight: bold;
                        position: absolute;
                        display: block;
                        top: 14rem;
                        left: 2rem;
                    }

                    &__button {
                        display: inline;
                        margin: 1rem 1rem 0 1rem;
                    }
                }
            }
        }
    }
}

footer.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    margin: 0;
    padding: 0;
    display: none;

    h6 {
        color: white;
        line-height: 3rem;
    }
}

@media (max-width: 600px) {
    .login {
        &__area {
            &__box {
                max-width: 320px;
            }
        }
    }
}

@media (min-width: 993px) {
    .login {
        margin-top: 25vh;
    }
}