<nav class="Nav">
    <ul class="Nav__list">
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/users/create">Creación de Usuarios</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/users/update">Edición de Usuarios</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/users/passwordUpdate">Contraseña de Usuarios</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/users">Act/Desact de Usuarios</a></li>
        <a routerLink="/main" class="btn waves-effect waves-light" type="button">Regresar
            <i class="material-icons left">arrow_back</i>
        </a>
    </ul>
</nav>