<div class="components">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l3">
                <app-arl-menu></app-arl-menu>
            </div>
            <div class="col s12 m8 offset-l2 l5 offset-xl2 xl4">
                <h3 class="center formTitle">Act/Desact. de ARL</h3>

                <!-- Formulario de búsqueda -->
                <div class="row">
                  <div class="col s12 offset-l3 l6">
                    <form *ngIf="showSearchForm" #SearchForm="ngForm" (ngSubmit)="search()">
                      <div class="input-field">
                          <select [(ngModel)]="searchItem.name" id="searchItem" name="searchItem" class="browser-default">
                            <option value="" disabled selected>Seleccione...</option>
                            <option *ngFor="let arl of arls" value="{{ arl.name }}">{{ arl.name }}</option>
                          </select>
                          <label class="active labelSelect" for="searchItem">Cargo:</label>
                      </div>
                      <span class="errorSearch" *ngIf="searchValidate">ARL no encontrada</span>
                      <button class="btn waves-effect waves-light right" type="submit">Buscar
                          <i class="material-icons right">search</i>
                      </button>
                  </form>
                  </div>
              </div>

                <!-- Formulario de edición -->
                <form *ngIf="showForm" #Form="ngForm" (ngSubmit)="actDesact(Form)">

                    <!-- ID  -->
                    <input [(ngModel)]="arl._id" id="_id" name="_id" type="hidden">

                    <!-- Name -->
                    <div class="input-field">
                        <input [(ngModel)]="arl.name" id="name" name="name" type="text" class="validate" disabled>
                        <label class="active" for="name">Nombre:</label>
                    </div>
                    <!-- Condition -->
                    <input [(ngModel)]="arl.condition" id="condition" name="condition" type="hidden">

                    <!-- Área de Botones -->
                    <div class="row">
                        <div class="col s6">
                            <button *ngIf="arl.condition" class="btn waves-effect waves-light right inactivate" type="submit">Desactivar
                                <i class="material-icons right">save</i>
                            </button>
                            <button *ngIf="!arl.condition" class="btn waves-effect waves-light right activate" type="submit">Activar
                                <i class="material-icons right">save</i>
                            </button>
                        </div>
                        <div class="col s6">
                            <button (click)="clearData(Form)" class="btn waves-effect waves-light left cleanerButtom" type="button">Cancelar
                                <i class="material-icons right">clear</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
