<div class="container reportScreen w-100 text-center">
  <h5 class="text-center">Reporte de Empleados</h5>

  <main class="reportScreen__contain">

    <table class="striped reportTable">
      <thead>
        <tr>
            <th>Tipo de Identificación</th>
            <th>Nro. de Identificación</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Departamento</th>
            <th>Municipio</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Celular</th>
            <th>Correo Electrónico</th>
            <th>Compañía</th>
            <th>Sede</th>
            <th>Cargo</th>
            <th>EPS</th>
            <th>ARL</th>
            <th>Contacto de Emergencia</th>
            <th>Teléfono</th>
            <th>Parentesco</th>
            <th>Comentarios</th>
            <th>Condición</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <th>Condición</th>
        </tr>
      </tbody>
    </table>



  </main>

<a routerLink="/reports" class="backbutton btn waves-effect waves-light" type="button">Regresar
  <i class="material-icons left">arrow_back</i>
</a>
</div>
