<div class="container reportScreen w-100 text-center">
  <h5 class="text-center">Reporte de Incidentes</h5>

  <main class="reportScreen__contain">

    <table class="striped reportTable">
      <thead>
        <tr>
            <th>Nro. de Registro</th>
            <th>Nro. de Identificación</th>
            <th>Nombres</th>
            <th>Suceso</th>
            <th>Fecha de registro</th>
            <th>Fecha de incidente</th>
            <th>Descripción</th>
            <th>Evidencia digital</th>
            <th>Motivo anulación</th>
            <th>Condición</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let record of records">
          <td style="text-align: center;">{{record.idRecord}}</td>
          <td style="text-align: center;">{{record.employee}}</td>
          <td style="text-align: center;">{{record.employeeName}}</td>
          <td style="text-align: center;">{{record.event}}</td>
          <td style="text-align: center;">{{record.dateRecord}}</td>
          <td style="text-align: center;">{{record.dateIncident}}</td>
          <td style="text-align: center;">{{record.description}}</td>
          <td style="text-align: center;">{{record.filename}}</td>
          <td style="text-align: center;">{{record.reasonForCancellation}}</td>
          <span *ngIf="record.condition; then active; else inactive"></span>
      </tr>
      </tbody>
    </table>



  </main>

<a routerLink="/reports" class="backbutton btn waves-effect waves-light" type="button">Regresar
  <i class="material-icons left">arrow_back</i>
</a>
</div>

<!-- Templates -->
<ng-template #active>
  <td></td>
</ng-template>
<ng-template #inactive>
  <td style="text-align: center;"><span class="red accent-4 white-text text-center" style="padding-left:0.5rem; padding-right:0.5rem;">Anulado</span></td>
</ng-template>
