<div class="container reportScreen w-100 text-center">
  <h5 class="text-center">Reporte de Incidentes</h5>

  <main class="reportScreen__contain">

    <table class="striped reportTable">
      <thead>
        <tr>
            <th>Nro. de Registro</th>
            <th>Nro. de Identificación</th>
            <th>Nombres</th>
            <th>Suceso</th>
            <th>Fecha de registro</th>
            <th>Fecha de incidente</th>
            <th>Descripción</th>
            <th>Motivo anulación</th>
            <th>Evidencia digital</th>
            <th>Condición</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>$0.87</td>
          <td>Alvin</td>
          <td>Eclair</td>
        </tr>
      </tbody>
    </table>



  </main>

<a routerLink="/reports" class="backbutton btn waves-effect waves-light" type="button">Regresar
  <i class="material-icons left">arrow_back</i>
</a>
</div>
