<div class="components userForms">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l3">
                <app-records-and-events-menu></app-records-and-events-menu>
            </div>
            <div class="col s12 m8 l9">
                <h3 class="center formTitle">Creación de Registros</h3>
                <form #Form="ngForm" (ngSubmit)="create(Form)">
                    <div class="row">


                        <div class="col s12 xl6">
                            <!-- Columna 1 -->

                            <!-- Número de registro -->
                            <div class="input-field">
                              <input [(ngModel)]="record.idRecord" id="idRecord" name="idRecord" class="validate">
                              <label for="idRecord">Nro. de Registro:</label>
                          </div>

                            <!-- Número de Identificación del empleado -->
                            <div class="input-field inputfieldSelect">
                              <select [(ngModel)]="record.employee" (change)="getEmployee(record.employee)" class="browser-default" id="employee" name="employee">
                                  <option value="" disabled selected>Seleccione...</option>
                                  <option *ngFor="let employee of employees" value="{{ employee._id }}">{{ employee.identificationNumber }}</option>
                              </select>
                              <label class="active labelSelect" for="employee">Número de Identificación</label>
                          </div>

                            <!-- Nombre del empleado -->
                            <div class="input-field">
                              <input [(ngModel)]="record.employeeName" id="employeeName" name="employeeName" class="validate">
                              <label for="employeeName">Empleado:</label>
                          </div>

                            <!-- Suceso -->
                            <div class="input-field inputfieldSelect">
                                <select class="browser-default" [(ngModel)]="record.event" (change)="getEvent(record.event)"  id="event" name="event">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option *ngFor="let event of events" value="{{ event._id }}">{{ event.name }}</option>
                                </select>
                                <label class="labelSelect" for="event">Suceso</label>
                            </div>

                            <!-- Fecha del incidente -->
                            <div class="input-field">
                                <input [(ngModel)]="record.dateIncident" id="dateIncident" name="dateIncident" type="date" class="validate">
                                <label for="dataIncident">Fecha del Incidente:</label>
                            </div>
                        </div> <!-- Fin Columna 1 -->


                        <div class="col s12 xl6">
                            <!-- Columna 2 -->
                            <div class="input-field">
                                <textarea [(ngModel)]="record.description" id="description" name="description" class="materialize-textarea"></textarea>
                                <label for="description">Descripción</label>
                            </div>


                            <!-- Motivo de anulación -->
                            <div class="input-field" style="display: none;">
                                <textarea [(ngModel)]="record.reasonForCancellation" id="reasonForCancellation" name="reasonForCancellation" class="materialize-textarea"></textarea>
                                <label for="reasonForCancellation">Motivo Anulación:</label>
                            </div>


                            <!-- Evidencia digital -->
                            <div class="input-field">
                                <input [(ngModel)]="record.filename" (change)="captureFile($event)" id="filename" name="filename" type="file" class="validate" disabled>
                                <label for="filename">Evidencia Digital:</label>
                            </div>

                            <!-- Condition -->
                            <input [(ngModel)]="record.condition" id="condition" name="condition" type="hidden">


                        </div> <!-- Fin Columna 2 -->


                        <!-- Área de botones -->
                        <div class="col s12">
                            <div class="row">
                                <div class="col s6">
                                    <button class="btn waves-effect waves-light right" type="submit">Guardar
                                        <i class="material-icons right">save</i>
                                    </button>
                                </div>
                                <div class="col s6">
                                    <button (click)="clearData(Form)" class="btn waves-effect waves-light left clearData" type="button">Cancelar
                                        <i class="material-icons right">clear</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Área de Botones -->

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
