<nav class="Nav">

    <h6 class="Nav__titleMenu">Menu de Sedes</h6>

    <ul class="Nav__list">
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/venues/create">Creación de Sedes</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/venues/update">Edición de Sedes</a></li>
        <li class="Nav__list__item"><a class="Nav__list__item__link" routerLink="/venues/activateDesactivate">Act/Desact de Sedes</a></li>
        <a routerLink="/main" class="btn waves-effect waves-light" type="button">Regresar
            <i class="material-icons left">arrow_back</i>
        </a>
    </ul>
</nav>