@import '../../scss/variables';

footer.footer {
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    margin: 0;
    border-top: 3px double $main__color;
    padding: 0;
    z-index: 99999;

    h6 {
        margin: 0 auto;
        color: $main__color;
        line-height: 3rem;
    }
}