<div class="components userForms">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l3">
                <app-companies-menu></app-companies-menu>
            </div>
            <div class="col s12 m8 l6">
                <h3 class="center formTitle">Creación de Compañías</h3>

                <form #Form="ngForm" (ngSubmit)="createCompany(Form)">


                    <!-- Name -->
                    <div class="input-field">
                        <input [(ngModel)]="company.name" id="name" name="name" type="text" class="validate">
                        <label for="name">Nombre:</label>
                    </div>

                    <!-- Phone -->
                    <div class="input-field">
                        <input [(ngModel)]="company.phone" id="phone" name="phone" type="text" class="validate">
                        <label for="phone">Teléfono:</label>
                    </div>

                    <!-- Address -->
                    <div class="input-field">
                        <textarea [(ngModel)]="company.address" id="address" name="address" id="address" class="validate materialize-textarea"></textarea>
                        <label for="address">Descripción:</label>
                    </div>


                    <!-- Área Botones -->
                    <div class="row">
                        <div class="col s6">
                            <button class="btn waves-effect waves-light right" type="submit">Guardar
                                <i class="material-icons right">save</i>
                            </button>
                        </div>
                        <div class="col s6">
                            <button (click)="clearData(Form)" class="btn waves-effect waves-light left clearData" type="button">Cancelar
                                <i class="material-icons right">clear</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>